# Export
#
# Clustering algorithms
export(AgglomerativeNestingClustering)
#export(ADPclustering)#not on cran anymore
export(APclustering)
export(AutomaticProjectionBasedClustering)
export(ConsensusClustering)
export(CrossEntropyClustering)
export(DatabionicSwarmClustering)
export(DBSCAN)
export(DensityPeakClustering)
export(DivisiveAnalysisClustering)
export(FannyClustering)
export(GenieClustering)
export(HCLclustering)
export(HDDClustering)
export(HierarchicalClustering)
export(HierarchicalDBSCAN)
export(kmeansClustering)
export(LargeApplicationClustering)
export(MarkovClustering)
export(MinimalEnergyClustering)
export(MinimaxLinkageClustering)
export(MeanShiftClustering)
export(ModelBasedClustering)
export(ModelBasedVarSelClustering)
export(MoGclustering)
export(MSTclustering)
export(NeuralGasClustering)
export(NetworkClustering)
export(OPTICSclustering)
export(PAMclustering)
export(pdfClustering)
#export(PenalizedRegressionBasedClustering) #not on cran anymore
export(PFclustering)
export(ProjectionPursuitClustering)
export(QTclustering)
#export(RandomForestClustering)
export(RobustTrimmedClustering)
export(SharedNearestNeighborClustering)
export(SOMclustering)
export(SOTAclustering)
export(SparseClustering)
export(SpectralClustering)
export(Spectrum)
export(SubspaceClustering)
export(TandemClustering)

#
# Applications
export(ClusterabilityMDplot)
export(ClusterAccuracy)
export(ClusterAlignLabels)
export(ClusterApply)
export(ClusterAMI)
export(ClusterARI)
export(ClusterChallenge)
export(ClusterCount)
export(ClusterCreateClassification)
export(ClusterEqualWeighting)
export(ClusterDendrogram)
export(ClusterDunnIndex)
export(ClusterDaviesBouldinIndex)
export(ClusterDistances)
export(ClusterIntraDistances)
export(ClusterInterDistances)
export(ClusterMCC)
export(ClusterNoEstimation)
export(ClusterNormalize)
export(ClusterNMI)
export(ClusterPlotMDS)
export(ClusterRename)
export(ClusterRedefine)
export(ClusterShannonInfo)
export(ClusterRenameDescendingSize)
export(ClusterUpsamplingMinority)
export(EntropyOfDataField)
export(EstimateRadiusByDistance)
export(GapStatistic)
#Benchmarkign Functions
export(parApplyDataBasedCA)
export(parApplyClusterAnalysis)
export(parApplyDistanceBasedCA)

#some ggplot unresolved issue requires this
export(StatPDEdensity)
#
# Import
#
import(DataVisualizations)
import(ggplot2)
# QMS
#import(matrixStats)
#
#importFrom('cclust', cclust)
#importFrom('kernlab', specc)
#importFrom('vegan', spantree, spandepth)
importFrom("graphics", "axis", "plot", "hist", "title")
importFrom("mclust", "mclustBIC", "Mclust","mclust.options")
importFrom("methods", "new")
importFrom("stats", hclust, "as.hclust", cutree, kmeans, as.dendrogram, rect.hclust, "dist", "as.dist", "cmdscale", "na.omit", "complete.cases", "cov", "pf", "sd", "quantile", "is.leaf", "prcomp", "runif", "cor", "order.dendrogram", "median", "predict")
importFrom("utils", "head", "tail")
importFrom("stats", "setNames")
