exportPattern("^[[:alpha:]]+")
importFrom('stats', hclust,cutree,kmeans,as.dendrogram,rect.hclust)
#importFrom('cclust', cclust)
#importFrom('kernlab', specc)
#importFrom('gplots', heatmap.2)
#importFrom('vegan', spantree, spandepth)
importFrom("graphics", "axis", "plot")
importFrom("stats", "as.dist", "cmdscale", "dist", "na.omit")
importFrom("mclust", "mclustBIC", "Mclust","mclust.options")
importFrom("graphics", "hist")
importFrom("stats","complete.cases", "cov", "dist", "pf","sd", "cutree", "hclust", "kmeans")
importFrom("stats", "as.hclust", "quantile")
  importFrom("utils", "head")