# Export
#
# Clustering algorithms
export(ADPclustering)
export(AgglomerativeNestingClustering)
export(APclustering)
export(AutomaticProjectionBasedClustering)
export(CrossEntropyClustering)
export(DatabionicSwarmClustering)
export(DBscan)
export(DensityPeakClustering)
export(DivisiveAnalysisClustering)
export(FannyClustering)
export(GenieClustering)
export(HCLclustering)
export(HierarchicalClustering)
export(Hierarchical_DBSCAN)
export(kmeansClustering)
export(LargeApplicationClustering)
export(MarkovClustering)
export(MinimalEnergyClustering)
export(MinimaxLinkageClustering)
export(ModelBasedClustering)
export(MoGclustering)
export(MSTclustering)
export(NeuralGasClustering)
export(OPTICSclustering)
export(PAMclustering)
export(pdfClustering)
export(PenalizedRegressionBasedClustering)
export(ProjectionPursuitClustering)
export(QTclustering)
export(RobustTrimmedClustering)
export(SharedNearestNeighborClustering)
export(SOMclustering)
export(SOTAclustering)
export(SpectralClustering)
export(Spectrum)
export(SubspaceClustering)
export(TandemClustering)
#
# Applications
export(ClusterabilityMDplot)
export(ClusterAccuracy)
export(ClusterApply)
export(ClusterChallenge)
export(ClusterCount)
export(ClusterCreateClassification)
export(ClusterDendrogram)
export(ClusterDistances)
export(ClusterInterDistances)
export(ClusterNoEstimation)
export(ClusterPlotMDS)
export(ClusterRename)
export(ClusterRenameDescendingSize)
export(EntropyOfDataField)
export(EstimateRadiusByDistance)

#some ggplot unresolved issue requires this
export(StatPDEdensity)
#
# Import
#
import(DataVisualizations)
import(ggplot2)
# QMS
#import(matrixStats)
#
importFrom('stats', hclust,cutree,kmeans,as.dendrogram,rect.hclust)
#importFrom('cclust', cclust)
#importFrom('kernlab', specc)
#importFrom('vegan', spantree, spandepth)
importFrom("graphics", "axis", "plot")
importFrom("stats", "as.dist", "cmdscale", "dist", "na.omit")
importFrom("mclust", "mclustBIC", "Mclust","mclust.options")
importFrom("graphics", "hist")
importFrom("stats","complete.cases", "cov", "dist", "pf","sd", "cutree", "hclust", "kmeans")
importFrom("stats", "as.hclust", "quantile","is.leaf")
importFrom("utils", "head")
importFrom("stats", "prcomp", "runif")
importFrom("stats", "cor")
importFrom("stats", "order.dendrogram")
importFrom("utils", "tail")